<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://vanted.ipk-gatersleben.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Christian Klukas</author>
	<description>Spring Embedder</description>

	<plugindesc>
	     <name>Springembedder 1</name>
         <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.layouters.springembedder_1.SpringEmbedderPlugin</main>
         <version>0.1.1</version>
         <available></available>
    </plugindesc>
</plugin>
