<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://vanted.ipk-gatersleben.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Christian Klukas</author>
	<description>KEGG-Attributes and Editors</description>

	<plugindesc>
	     <name>KEGG-Attributes and Editor</name>
             <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.editcomponents.kegg.kegg_type.KeggAttributePlugin</main>
             <version>1.0.0</version>
             <available>mailto:klukas@ipk-gatersleben.de</available>
        </plugindesc>
</plugin>