<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://vanted.ipk-gatersleben.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Christian Klukas</author>
	<description>Pattern-Springembedder Layout-Algorithm  (background thread aware)</description>

	<plugindesc>
	     <name>Pattern Springembedder</name>
         <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.layouters.pattern_springembedder.PluginPatternSpringembedder</main>
         <version>0.1.3</version>
         <available>www.ipk-gatersleben.de</available>
    </plugindesc>
</plugin>
