<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://vanted.ipk-gatersleben.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Ricardo Usbeck, Hendrik Treutler</author>
	<description>BioPAX-OWL-Writer</description>
	<plugindesc>
	    <name>BioPAX-OWL-Writer</name>
        <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.ios.exporters.biopax.BioPAX_OWL_WriterPlugin</main>
        <version>1.0.0</version>
        <available>mailto:mehlhorn@ipk-gatersleben.de</available>
    </plugindesc>
</plugin>
