<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://vanted.ipk-gatersleben.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Christian Klukas</author>
	<description>Moves the current graph to the top left of the window.</description>

	<plugindesc>
	     <name>Graph to Origin Mover</name>
         <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.layouters.graph_to_origin_mover.CenterLayouterPlugin</main>
         <version>0.0.1</version>
         <available></available>
    </plugindesc>
</plugin>
