<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://www.graffiti.org/dtd/1.0/plugin.dtd">

<plugin>
	<author>Thilo Fester</author>
	<description>PowerPoint Writer</description>
	<plugindesc>
	    <name>PowerPoint Writer</name>
        <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.ios.exporters.ppt.PPTSerializerPlugin</main>
        <version>0.0.1</version>
        <available>mailto:fester@ipk-gatersleben.de</available>
    </plugindesc>
</plugin>
