<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://vanted.ipk-gatersleben.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>Christian Klukas</author>
	<description>Set background-color/view settings</description>

	<plugindesc>
	     <name>View Settings</name>
             <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.gui.set_background_color.SetBackgroundColorPlugin</main>
             <version>1.0.0</version>
             <available>http://www.ipk-gatersleben.de</available>
        </plugindesc>
</plugin>