<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE plugin
  PUBLIC "-//GRAFFITI/DTD Plugin Descriptin 1.0//EN"
   "http://vanted.ipk-gatersleben.de/dtd/1.0/plugin.dtd">

<plugin>
	<author>IPK team</author>
	<description>A radial tree layouter.</description>

	<plugindesc>
	     <name>RadialTreeLayoutPlugin</name>
             <main>de.ipk_gatersleben.ag_nw.graffiti.plugins.layouters.radial_tree.RadialTreeLayoutPlugin</main>
             <version>0.0.1</version>
             <available>This is radial tree layout plugin.</available>
        </plugindesc>
</plugin>
